In [2]:
import datetime as dt
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf

In [9]:
end = dt.datetime.now()
start = dt.datetime(2000, 1, 1)
start,end

(datetime.datetime(2000, 1, 1, 0, 0),
 datetime.datetime(2023, 10, 9, 19, 58, 10, 590416))

In [11]:
stockList = ['CBA', 'WBC', 'ANZ']
stocks = [i + '.AX' for i in stockList]
stocks

['CBA.AX', 'WBC.AX', 'ANZ.AX']

In [13]:
yf.pdr_override()
df = pdr.get_data_yahoo(stocks, start, end)
df.head()

[*********************100%%**********************]  3 of 3 completed

           Adj Close                          Close                        \
              ANZ.AX    CBA.AX    WBC.AX     ANZ.AX     CBA.AX     WBC.AX
Date
2000-01-03  3.050543  7.488197  3.156588  10.586787  26.088652  10.435952
2000-01-04  2.940151  7.402551  3.097404  10.203672  25.790268  10.240284
2000-01-05  2.860315  7.236974  3.040322   9.926606  25.213392  10.051568
2000-01-06  2.789014  7.094230  3.034314   9.679157  24.716087  10.031704
2000-01-07  2.827279  7.165605  3.034314   9.811958  24.964741  10.031704

                 High                              Low                        \
               ANZ.AX     CBA.AX     WBC.AX     ANZ.AX     CBA.AX     WBC.AX
Date
2000-01-03  10.586787  26.088652  10.435952  10.586787  26.088652  10.435952
2000-01-04  10.557170  26.058813  10.448864  10.203672  25.720646  10.240284
2000-01-05  10.012592  25.392424  10.081366   9.792850  25.113932  10.001907
2000-01-06   9.983930  25.362585  10.111163   9.630432  24.666357   9.942312
2000-01-07   9.936160  25.113932  10.061501   9.706864  24.735979   9.982042

                 Open                           Volume
               ANZ.AX     CBA.AX     WBC.AX     ANZ.AX   CBA.AX     WBC.AX
Date
2000-01-03  10.586787  26.088652  10.435952        0.0        0        0.0
2000-01-04  10.394752  26.058813  10.448864  3310622.0  1018072  2324971.0
2000-01-05   9.983930  25.353634  10.063487  6209608.0  2191283  2456811.0
2000-01-06   9.983930  25.362585  10.081366  6683860.0  1505531  4354261.0
2000-01-07   9.745080  24.913021  10.031704  3479904.0  1414040  2360114.0